 .u-section-1 {
  background-image: url("images/Background.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 280px;
}

.u-section-1 .u-image-1 {
  width: 660px;
  height: 279px;
  margin: 0 auto 1px;
}

@media (max-width: 1399px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 242px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 153px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 64px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 228px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 144px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 20px;
} .u-section-3 {
  background-image: linear-gradient(black, white);
}

.u-section-3 .u-sheet-1 {
  min-height: 548px;
}

.u-section-3 .u-image-1 {
  width: 532px;
  height: 548px;
  margin: 0 auto;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: -454px auto 0;
  padding: 8px 59px 9px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 8px 59px 9px;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 8px 40px 9px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: -321px auto 0;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 275px auto 134px;
  padding: 8px 59px 9px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 350px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: -317px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-btn-3 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -216px;
  }

  .u-section-3 .u-btn-4 {
    font-size: 1.25rem;
    margin-top: 203px;
    margin-bottom: 65px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 195px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 0;
}

@media (max-width: 1399px) {
  .u-section-4 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 273px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: linear-gradient(white, black);
}

.u-section-5 .u-sheet-1 {
  min-height: 180px;
}