 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/original.gif?rand=4913");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 285px;
}

.u-section-1 .u-image-1 {
  width: 623px;
  height: 118px;
  margin: 89px auto 60px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 246px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 155px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 102px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 62px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 64px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 21px;
} .u-section-3 {
  background-image: linear-gradient(#ffe6ee, white);
}

.u-section-3 .u-sheet-1 {
  min-height: 550px;
}

.u-section-3 .u-image-1 {
  width: 532px;
  height: 548px;
  margin: 1px auto 0;
}

.u-section-3 .u-image-2 {
  width: 532px;
  height: 548px;
  margin: -548px auto 0;
}

.u-section-3 .u-image-3 {
  width: 337px;
  height: 132px;
  margin: -548px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 2px -2px 8px rgba(128,128,128,1);
  margin: -113px auto 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
  padding: 10px 139px;
}

.u-section-3 .u-btn-2 {
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
  padding: 10px 111px;
}

.u-section-3 .u-btn-3 {
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
  padding: 10px 134px 10px 133px;
}

.u-section-3 .u-text-2 {
  width: 338px;
  margin: 20px auto 63px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 350px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 350px;
    margin-top: -350px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -350px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 14px;
    margin-right: -4px;
    padding-right: 131px;
    padding-left: 130px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 1.25rem;
    margin-top: 15px;
    margin-right: -4px;
  }

  .u-section-3 .u-btn-3 {
    font-size: 1.25rem;
    margin-top: 14px;
    margin-right: -4px;
    padding-left: 124px;
    padding-right: 124px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin: 21px 1px 1px;
  }
} .u-section-4 {
  background-image: linear-gradient(white, #ffe6ee);
}

.u-section-4 .u-sheet-1 {
  min-height: 159px;
}